._2YIp6 {
	display:-ms-flexbox;
	display:flex;
	-ms-flex-pack:center;
	justify-content:center;
	-ms-flex-align:center;
	align-items:center;
	height:100%;
	width:100%;
	outline:none
}
._2YIp6[disabled] {
	cursor:default
}
._2YIp6[disabled]:after {
	position:absolute;
	content:"";
	display:block;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	border-radius:50%;
	background-color:rgba(0,0,0,.5)
}
.chip-one-0 {
	background:url(../chip_btm/0.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-1 {
	background:url(../chip_btm/1.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-2 {
	background:url(../chip_btm/2.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-3 {
	background:url(../chip_btm/3.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-4 {
	background:url(../chip_btm/4.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-5 {
	background:url(../chip_btm/5.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-6 {
	background:url(../chip_btm/6.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-7 {
	background:url(../chip_btm/7.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-8 {
	background:url(../chip_btm/8.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-9 {
	background:url(../chip_btm/9.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-10 {
	background:url(../chip_btm/10.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-11 {
	background:url(../chip_btm/11.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-12 {
	background:url(../chip_btm/12.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-13 {
	background:url(../chip_btm/13.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-14 {
	background:url(../chip_btm/14.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-15 {
	background:url(../chip_btm/15.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-16 {
	background:url(../chip_btm/16.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-17 {
	background:url(../chip_btm/17.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-18 {
	background:url(../chip_btm/18.png) 50% no-repeat;
	background-size:100% 100%
}
.chip-one-19 {
	background:url(../chip_btm/19.png) 50% no-repeat;
	background-size:100% 100%
}
._2YIp6>div{
	height:100%;
	width:100%
}
.uoS7R {
	background:url(/assets/43bcabb6.png) 50% no-repeat;
	background-size:100% 100%
}
.cxmgw {
	background:url(/assets/0b632b68.png) 50% no-repeat;
	background-size:100% 100%
}
._281V3,.cxmgw {
	height:100%;
	width:100%
}
._281V3 {
	background:url(/assets/9cb921c4.png) 50% no-repeat;
	background-size:100% 100%
}
._2DXMx {
	background:url(/assets/d65c1091.png) 50% no-repeat;
	background-size:100% 100%
}
._2DXMx,._2lupc {
	height:100%;
	width:100%
}
._2lupc {
	background:url(/assets/92039351.png) 50% no-repeat;
	background-size:100% 100%
}
._2x1ho {
	background:url(/assets/2d8f2398.png) 50% no-repeat;
	background-size:100% 100%
}
._2x1ho,.x5GRM {
	height:100%;
	width:100%
}
.x5GRM {
	background:url(/assets/2486f331.png) 50% no-repeat;
	background-size:100% 100%
}
._3teEU {
	background:url(/assets/7e087f0b.png) 50% no-repeat;
	background-size:100% 100%
}
._3teEU,._15wKC {
	height:100%;
	width:100%
}
._15wKC {
	background:url(/assets/432d49fc.png) 50% no-repeat;
	background-size:100% 100%
}
._3S7S6 {
	background:url(/assets/eb59bc3f.png) 50% no-repeat;
	background-size:100% 100%
}
._3S7S6,.dMGNN {
	height:100%;
	width:100%
}
.dMGNN {
	background:url(/assets/4ad43068.png) 50% no-repeat;
	background-size:100% 100%
}
._2TJy9 {
	background:url(/assets/25f35a7e.png) 50% no-repeat;
	background-size:100% 100%
}
._2chcR,._2TJy9 {
	height:100%;
	width:100%
}
._2chcR {
	background:url(/assets/abe3803f.png) 50% no-repeat;
	background-size:100% 100%
}
._8CCCy {
	background:url(/assets/ebee8712.png) 50% no-repeat;
	background-size:100% 100%
}
._8CCCy,._26uH6 {
	height:100%;
	width:100%
}
._26uH6 {
	background:url(/assets/dedd1aab.png) 50% no-repeat;
	background-size:100% 100%
}
._1Boud {
	background:url(/assets/531a790a.png) 50% no-repeat;
	background-size:100% 100%
}
._1Boud,._1k2Kr {
	height:100%;
	width:100%
}
._1k2Kr {
	background:url(/assets/e00ee899.png) 50% no-repeat;
	background-size:100% 100%
}
._236id {
	background:url(/assets/2f6c31d8.png) 50% no-repeat;
	background-size:100% 100%
}
._4PpMk,._236id {
	height:100%;
	width:100%
}
._4PpMk {
	background:url(/assets/e94d0c48.png) 50% no-repeat;
	background-size:100% 100%
}