@-webkit-keyframes _2qOA-{0%{background-position:100% 0,100% 100%,0 100%,0 0}
50%{background-position:50% 0,100% 50%,50% 100%,0 50%}
to{background-position:0 0,100% 0,100% 100%,0 100%}}@keyframes _2qOA-{0%{background-position:100% 0,100% 100%,0 100%,0 0}
50%{background-position:50% 0,100% 50%,50% 100%,0 50%}
to{background-position:0 0,100% 0,100% 100%,0 100%}}._36no4{display:-ms-flexbox;display:flex;height:100%;width:1.9em}
._36no4 ._2dLRO{width:1.3em;height:.4em;margin-top:.05em;margin-left:.04em}
._36no4 ._2dLRO ._35UTY{width:100%;height:.16em}
._36no4 ._2dLRO ._35UTY ._39OrF{color:#bbaa7d;font-size:.16em;line-height:1;font-weight:600;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._36no4 ._2dLRO ._3p53L{width:100%;height:.2em;margin-top:.04em}
._36no4 ._2dLRO ._3p53L ._2giiD{color:#fff;font-size:.2em;line-height:1}
._36no4 .VTdzK{display:inline-block;cursor:pointer}
._36no4 ._2pJY5{position:relative;top:-.03em;border-radius:50%;width:.56em;height:.56em;-webkit-box-sizing:content-box;box-sizing:content-box;overflow:hidden;outline:none}
@-webkit-keyframes _3CNp4{0%{background-position:100% 0,100% 100%,0 100%,0 0}
50%{background-position:50% 0,100% 50%,50% 100%,0 50%}
to{background-position:0 0,100% 0,100% 100%,0 100%}}@keyframes _3CNp4{0%{background-position:100% 0,100% 100%,0 100%,0 0}
50%{background-position:50% 0,100% 50%,50% 100%,0 50%}
to{background-position:0 0,100% 0,100% 100%,0 100%}}._2iR9R{position:absolute;height:.64em;width:100%;bottom:0;left:0;z-index:3000;-webkit-box-shadow:0 -.01em .03em 0 rgba(0,0,0,.5);box-shadow:0 -.01em .03em 0 rgba(0,0,0,.5);background-image:-webkit-gradient(linear,right top,left top,from(#000),color-stop(9%,transparent),color-stop(85%,transparent),to(#000));background-image:linear-gradient(270deg,#000,transparent 9%,transparent 85%,#000)}
._2H2hf{height:100%;width:100%;padding:0 .16em;-ms-flex-direction:row;flex-direction:row;-ms-flex-align:center;align-items:center;-webkit-box-sizing:border-box;box-sizing:border-box;background-image:url(/assets/f7c2739f.png);background-size:100% 100%;background-color:#161614}
._2H2hf,._2H2hf ._2Jdfo{display:-ms-flexbox;display:flex}
._2H2hf ._2Jdfo{position:absolute;right:.16em;bottom:.02em}
._2H2hf ._2Jdfo.rOZX2{padding-right:.88em}
._2H2hf ._2Jdfo ._35n_w{position:absolute;right:0;bottom:.16em;height:.56em;width:.56em;margin-left:.4em;border-radius:50%;background-color:#bbaa7d;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;outline:none}
._2H2hf ._2Jdfo ._35n_w:hover{background-color:#7d7254}
._2H2hf ._2Jdfo ._35n_w ._2Brzs{height:.24em;width:.24em;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAmdJREFUWAntl7FKA0EQhhNtLNTGwk4PLAQLixSCbcpU4isoCD6BlYWVTyBY5BWCleATCAopLAIpBLGzsFELG43ff+4ce2Pu9NAYEAcmuzP/PzuTu9nNplYbs9Qt/2AwWGC+iSboI3qBntbr9RfGnMCdxSHuSgB6jB24D8HOBriTGC10DZ1Bb1BxbxlraQEh+R62yLF0IR7HDrhT2PvoXOxnfo8ewH+O/fB3sBuxj7m+1KGKmAiAvo1PLqjBAkuBY0OTiU8uTD5hmYRYn1y4cilnzQpIZBRI4vyLzo5Nj/nYmJtiVoDeeZF4zNtxnMe8/YFrBajhhskTTjVYLJex4eYeU6zWGCZpTivgFEbXsRTYplFyC2D38XfQ14ivuTpbWCYhto0jtwa2cinn+y7QRBKaJmGqR9fzyfFlAnceYzk4+nDvMtBN4E7j0pZNtyHca0f5N8f3BOKjWCdcE9VeVg9c8q5yTYUvFd6p4tZRvVeJuv0c/iC1KnzYUayzXUfxnItVZ5/FvpB8F99q7Gd+hR5VLcK2oY5Fn1zrb4Ru19xE39wnFyafsEpiBdij9MHCbasZVsQVXoZZfG60AnLO3zSsADXRMNEJ13dAEVe0Mswt825aAR1M/Z57OaGp/Al3DkkN50U+YZVk7NuwUrX/5FE8gawHtDiHju5/CfrpzzGcHxE7inVJ3EYb0ap2Iam8taI1Pp3aNmy55ArUJWKLp6JxZGIFrBVksJtMAfx9txWgq1KRlGFFMV/2WwE3JRFlWEnY1yArQEfxh/+A+PTXbKQXyGwb0mwLJNS9IEG1DS/QoX9O8f8deQMITaYJ5/SxggAAAABJRU5ErkJggg==);background-size:100% 100%}
._2H2hf ._2Jdfo ._35n_w ._2Brzs._3ikov{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAbVJREFUWAnNl6tOBDEUQHcAw1siloRP4BuwaxB8BAIEwSJI8CTIFYRvgIQQNBrFH+DAIkgQMJzbpZvOo53eTiehyZ12+jpnZqdtdjT6T6ksy11iZ0gn5l8j9ixjyRYETvmQ+KJ8VRTFq23LlQucuU6JMeVNGLeFTM7NFtk5sSj3pE8iq4QLN4TZ5WZBckzeye5ndea6wvWEQVl+Dg/8BcazeQMWTMcJ5X17T977TQTgUx78uyIg4JwSXXDhNQRyScTAvQJ9JWLhQYFUCQ28U0AroYVHCcRKpMCjBbokUuEqgYDENW0HxFj6/CXZZMw6txW+vHUZ+jpLPU9b36zq3aPhMlAtIIMCEiq4zGXOAiko0xP9P1rGPMr22lLvrVILOB/cRsusx7SrDjCVgAN3P7g3R0R9ikYLeODym18Qd6kSUR9hAD5favSpr46oo7xTIAZunz5FIiiggadKeAVS4CkSrQJ94FqJhkAOuEaiIpATHisxFxgCHiNhBIaEd0nYnbCko3uIqE81C/LlHFIPtLk75k+FyVtYJc6II8L+RfPNl1zP3BPikthuTELlMjEY3AJhrNvyL0h+VD/Mo7VFAAAAAElFTkSuQmCC)}
._2H2hf ._2Jdfo ._35n_w ._2Brzs._3mLNG{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAkdJREFUWAntlr9KHFEUxt0okjZYKNhEJQQEMaAgSREQEdnCwhARBZsttlAQGxvByjewyjMI6S0s8gC+gIWoiLAJSVRE808z+X3rGbg73p2dO7vp9sBv75nvnPPdy+zssB0d7ch5B6IomoITYyqnTb4xNi3CjwTFfG6BU2w6C7/gFqYN5dJmA+3C2tlgDn7DDUzG08pNU20u1lu6YjwPf+Aa3ibNpVlNPfPJelPXGC7CHVzBm3pmqlmPehfr9QXpGC3DPVzCRKNh9VivDrHcqD+1jkEJtPl3GEttdor0jtuMZktOKXvKYBn+wld4lX3yoVMzNiuPctA8A6ugwS8wEjTsNGvWPOS16pTqpzSug6ICw/U7s1XkYV4s0XrqFA0b6iLO4WVqc0BRXubJEm14RylsqkqcwQtvUxOiPM2bJdqssUJYk0qcwmBNsYUX8rY9WKI1WRf0wUWF5RlIPAHFt0KhcPCQNveJ/zgOPebynHUHLvDvq2o07EEy9qvFFnxgvJ8053pP1l3mv8D6DnpN2za91csWhnfwGT56zTlZt532f9yB7uSm8R1w9epz4Qq+nEN2og9Z7Yjv897X10h74mmIPFqNxOb643EMh8axaTV9WS58B0idYyO9I3ZBT7W+R6F812qk2SP4AFjPwFNY4ba/F8pNUy0o8hyg33Y4cnaK87jmlNLTPAdIdwystg/gew/oTXULYzzVnzx3dMC0K6cW50vMvHb0OB0lkae8GwcmK6B/wL74ifgh6SINVPOFvPRLacejO/APkZZEdquE9ywAAAAASUVORK5CYII=)}
._2H2hf .JUjOz{position:relative;margin-left:.32em;overflow:hidden}
@-webkit-keyframes _3nQ7h{0%{background-position:100% 0,100% 100%,0 100%,0 0}
50%{background-position:50% 0,100% 50%,50% 100%,0 50%}
to{background-position:0 0,100% 0,100% 100%,0 100%}}@keyframes _3nQ7h{0%{background-position:100% 0,100% 100%,0 100%,0 0}
50%{background-position:50% 0,100% 50%,50% 100%,0 50%}
to{background-position:0 0,100% 0,100% 100%,0 100%}}._2-okB>.__react_component_tooltip{border:1px solid rgba(125,114,84,.51);padding:.25em .91667em;color:hsla(0,0%,100%,.87);font-size:.12em}

._3xGxe {
  display: -ms-flexbox;
  display: flex;
  width: 8.54em;
  height: 100%;
}
._2au8e {
  height: 100%;
  width: 100%;
}
._2au8e {
  background: url(../b8db878e.png) no-repeat 50%;
  background-size: 100% 100%;
}

@-webkit-keyframes _1rwQB {
	0% {
	background-position:100% 0,100% 100%,0 100%,0 0
}
50% {
	background-position:50% 0,100% 50%,50% 100%,0 50%
}
to {
	background-position:0 0,100% 0,100% 100%,0 100%
}
}@keyframes _1rwQB {
	0% {
	background-position:100% 0,100% 100%,0 100%,0 0
}
50% {
	background-position:50% 0,100% 50%,50% 100%,0 50%
}
to {
	background-position:0 0,100% 0,100% 100%,0 100%
}
}._3xGxe {
	display:-ms-flexbox;
	display:flex;
	width:8.54em;
	height:100%
}
._3xGxe ._1lzPa {
	position:relative;
	height:.42em;
	width:.42em;
	background-image:url(../bf232813.png);
	background-size:100% 100%;
	margin-bottom:.21em;
	z-index:1
}
._3xGxe ._2pzK- {
	position:absolute;
	right:0;
	width:8.43em;
	height:.3em;
	margin:.07em 0 .27em;
	padding:0 .09em;
	border-radius:.15em;
	border:1px solid hsla(54,28%,57%,.2);
	background-color:rgba(0,0,0,.2);
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
._3xGxe ._2pzK- ._23aeU {
	display:-ms-flexbox;
	display:flex;
	width:100%;
	height:100%;
	overflow:hidden
}
._3xGxe ._2pzK- ._23aeU:hover ._2EMC5 {
	-webkit-animation-play-state:paused;
	animation-play-state:paused
}
._3xGxe ._2pzK- ._23aeU ._2EMC5 {
	display:-ms-flexbox;
	display:flex;
	padding-left:100%;
	-webkit-animation-name:_4eqLb;
	animation-name:_4eqLb;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-ms-flex-align:center;
	align-items:center
}
._3xGxe ._2pzK- ._23aeU ._2EMC5:after,._3xGxe ._2pzK- ._23aeU ._2EMC5:before {
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
._3xGxe ._2pzK- ._23aeU ._2EMC5 ._1tmpW {
	margin-right:2em;
	white-space:pre;
	display:-ms-flexbox;
	display:flex;
	color:hsla(0,0%,100%,.87);
	letter-spacing:.004em;
	font-weight:600
}
._3xGxe ._2pzK- ._23aeU ._2EMC5 ._1tmpW ._36YXH {
	font-size:.12em
}
@-webkit-keyframes _4eqLb {
	0% {
	-webkit-transform:translateX(0);
	transform:translateX(0)
}
to {
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%)
}
}@keyframes _4eqLb {
	0% {
	-webkit-transform:translateX(0);
	transform:translateX(0)
}
to {
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%)
}
}